body.small-screen {
	
	.header {
		padding: 10px 0 60px;
	}
	
	.logo-home {
		a {		
			img {
				width: 220px;
				/*iPhone [portrait + landscape]*/
				@media only screen and (max-device-width: 480px) {
					width: auto;
				}
			}
		}
	}
	
	.img-granturghese {
		
		margin: 0px auto;
		margin-top: -10%;
		
		@media (min-width: $screen-md) {
			margin-top: -130px;
			margin-left: -180px;
		}
		@media (min-width: $screen-lg) {
			margin-top: -126px;
		}
		
		/*iPhone [portrait + landscape]*/
		@media only screen and (max-device-width: 480px) {
			margin: 0;
		}
		
	}
	
	.img-promo-big {
		
		@media (min-width: $screen-md) {
			width: 90%;
			margin-top: -320px;
		}
		@media (min-width: $screen-lg) {
			margin-top: -360px;
		}
		
	}
	
	.bottone-scroll-top {
		margin-top: -40px;
		@media (min-width: $screen-sm) {
			margin-top: -80px;
		}
		@media (min-width: $screen-md) {
			margin-top: -140px;
		}
		@media (min-width: $screen-lg) {
			margin-top: -180px;
		}
	}
	
	
	
	
}

body.big-screen {
	
}