.btn {
  &.btn-transparent,
  &[btn-transparent],
  fieldset[btn-transparent] & {
    background-color: transparent;
  }
}

[class^="-border"],
[class^="-border "],
[class^=" -border"],
[class*="-border"],
[class*="-border "],
[class*=" -border"] {
  font-weight: $btn-custom-border-font-weight;
  padding: $padding-base-vertical * 1.5 $padding-base-horizontal * 1.5;
  border: 2px solid transparent;
  
  &:active,
  &.active {
    @include box-shadow(inset 0 0px 0px rgba(0, 0, 0, .125));
  }
}

/* Alternate buttons */

.btn-default {
  @include button-variant($btn-custom-default-color, $btn-custom-default-bg, $btn-custom-default-border);
}
.btn-primary {
  @include button-variant($btn-custom-primary-color, $btn-custom-primary-bg, $btn-custom-primary-border);
}

.btn-success {
  @include button-variant($btn-custom-success-color, $btn-custom-success-bg, $btn-custom-success-border);
}

.btn-info {
  @include button-variant($btn-custom-info-color, $btn-custom-info-bg, $btn-custom-info-border);
}

.btn-warning {
  @include button-variant($btn-custom-warning-color, $btn-custom-warning-bg, $btn-custom-warning-border);
}

.btn-danger {
  @include button-variant($btn-custom-danger-color, $btn-custom-danger-bg, $btn-custom-danger-border);
}

/* Alternate buttons-border */

.btn-default-border {
  @include button-variant($btn-custom-border-default-color, $btn-custom-border-default-bg, $btn-custom-border-default-border);
  &:hover,
  &:focus {
  	@include button-variant($bianco, $btn-custom-border-default-color, $btn-custom-border-default-color);
  }
}

.btn-primary-border {
  @include button-variant($btn-custom-border-primary-color, $btn-custom-border-primary-bg, $btn-custom-border-primary-border);
  &:hover,
  &:focus {
  	@include button-variant($bianco, $btn-custom-border-primary-color, $btn-custom-border-primary-color);
  }
}

.btn-warning-border {
  @include button-variant($btn-custom-border-warning-color, $btn-custom-border-warning-bg, $btn-custom-border-warning-border);
  &:hover,
  &:focus {
  	@include button-variant($bianco, $btn-custom-border-warning-color, $btn-custom-border-warning-color);
  }
}

.btn-danger-border {
  @include button-variant($btn-custom-border-danger-color, $btn-custom-border-danger-bg, $btn-custom-border-danger-border);
  &:hover,
  &:focus {
  	@include button-variant($bianco, $btn-custom-border-danger-color, $btn-custom-border-danger-color);
  }
}

.btn-success-border {
  @include button-variant($btn-custom-border-success-color, $btn-custom-border-success-bg, $btn-custom-border-success-border);
  &:hover,
  &:focus {
  	@include button-variant($bianco, $btn-custom-border-success-color, $btn-custom-border-success-color);
  }
}

.btn-info-border {
  @include button-variant($btn-custom-border-info-color, $btn-custom-border-info-bg, $btn-custom-border-info-border);
  &:hover,
  &:focus {
  	@include button-variant($bianco, $btn-custom-border-info-color, $btn-custom-border-info-color);
  }
}

/*
.btn-link {
  color: $link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-custom-border-link-disabled-color;
      text-decoration: none;
    }
  }
}
*/

.btn-lg {
  /* @include button-size(($padding-large-vertical * 1.4), ($padding-large-horizontal * 1.4), $font-size-large, $line-height-large, $border-radius-btn-large); */
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

/*
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
*/