body {
  font-family: $font-family-sans-serif;
  color: $gray;
  @media (min-width: $screen-sm) {
  	font-size: 16px;
  	line-height: 2em;
  }	
  
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

.lead {
	@media (min-width: $screen-sm) {
	  line-height: 1.8em;
	}
}

h5 {
  color: $color-primary-medium;
  i {
    font-weight: normal;
  }
}

.bold {
  font-weight: bold;
}

.script {
	font-family: 'Handlee', 'cursive';
}
