/* Palette colori personale
------------------------------------------------------------- */

$color-primary:													$viola /*$brand-primary*/;
$color-primary-medium:									lighten($color-primary, 5%);
$color-primary-light:										lighten($color-primary, 20%);
$color-primary-lighter:									lighten($color-primary, 30%);
$color-primary-dark:										darken($color-primary, 5%);
$color-primary-darker:									darken($color-primary, 15%);

$color-success:													$brand-success;
$color-success-medium:									lighten($color-success, 5%);
$color-success-light:										lighten($color-success, 20%);
$color-success-lighter:									lighten($color-success, 30%);
$color-success-dark:										darken($color-success, 5%);
$color-success-darker:									darken($color-success, 15%);

$color-info:														$rosa /*$brand-info*/;
$color-info-medium:											lighten($color-info, 3%);
$color-info-light:											lighten($color-info, 6%);
$color-info-lighter:										lighten($color-info, 9%);
$color-info-dark:												darken($color-info, 5%);
$color-info-darker: 										darken($color-info, 15%);

$color-warning:													$brand-warning /*$brand-warning*/;
$color-warning-medium:									lighten($color-warning, 5%);
$color-warning-light:										lighten($color-warning, 20%);
$color-warning-lighter:									lighten($color-warning, 30%);
$color-warning-dark:										darken($color-warning, 5%);
$color-warning-darker:									darken($color-warning, 15%);

$color-danger:													#ea2e49 /*$brand-danger*/;
$color-danger-medium:										lighten($color-danger, 5%);
$color-danger-light:										lighten($color-danger, 20%);
$color-danger-lighter:									lighten($color-danger, 30%);
$color-danger-dark:											darken($color-danger, 5%);
$color-danger-darker:										darken($color-danger, 15%);


/* Bottoni Standard con colori personali
------------------------------------------------------------- */

$btn-font-weight:                				normal !default;

$btn-custom-default-color:              #333 !default;
$btn-custom-default-bg:                 $bianco !default;
$btn-custom-default-border:             #ccc !default;

$btn-custom-primary-color:              $bianco !default;
$btn-custom-primary-bg:                 $color-primary !default;
$btn-custom-primary-border:             darken($btn-custom-primary-bg, 5%) !default;

$btn-custom-success-color:              $bianco !default;
$btn-custom-success-bg:                 $color-success !default;
$btn-custom-success-border:             darken($btn-custom-success-bg, 5%) !default;

$btn-custom-info-color:                 darken($color-info-darker, 20%) !default;
$btn-custom-info-bg:                    $color-info !default;
$btn-custom-info-border:                darken($btn-custom-info-bg, 5%) !default;

$btn-custom-warning-color:              $bianco !default;
$btn-custom-warning-bg:                 $color-warning !default;
$btn-custom-warning-border:             darken($btn-custom-warning-bg, 5%) !default;

$btn-custom-danger-color:               $bianco !default;
$btn-custom-danger-bg:                  $color-danger !default;
$btn-custom-danger-border:              darken($btn-custom-danger-bg, 5%) !default;

$btn-custom-link-disabled-color:        $gray-light !default;


/* Bottoni Border con colori personali
------------------------------------------------------------- */

$btn-custom-font-weight:								normal;
$btn-custom-border-font-weight:					bold;

$btn-custom-border-default-color:				#666;
$btn-custom-border-default-bg:					$bianco;
$btn-custom-border-default-border:			$btn-custom-border-default-color;

$btn-custom-border-primary-color:				$color-primary;
$btn-custom-border-primary-bg:					$bianco;
$btn-custom-border-primary-border:			$btn-custom-border-primary-color;

$btn-custom-border-success-color:				$color-success;
$btn-custom-border-success-bg:					$bianco;
$btn-custom-border-success-border:			$btn-custom-border-success-color;

$btn-custom-border-warning-color:				$color-warning;
$btn-custom-border-warning-bg:					$bianco;
$btn-custom-border-warning-border:			$btn-custom-border-warning-color;

$btn-custom-border-danger-color:				$color-danger;
$btn-custom-border-danger-bg:						$bianco;
$btn-custom-border-danger-border:				$btn-custom-border-danger-color;

$btn-custom-border-info-color:					$color-info;
$btn-custom-border-info-bg:							$bianco;
$btn-custom-border-info-border:					$btn-custom-border-info-color;

$btn-custom-border-link-disabled-color: $gray-light !default;

$border-radius-btn-large: 							12px;

/* Template varie
------------------------------------------------------------- */

$font-family-sans-serif: 'Lato', 'sans-serif', Helvetica, Arial;
$font-family-script: 'Handlee', 'cursive';

/* $headings-font-weight: bold; */

/* $input-height-base: ($line-height-computed + ($padding-base-vertical * 3) + 3); */


/* Background color for `<body>`.
$body-bg:               #fff !default;*/
/* Global text color on `<body>`.*/
$text-color-custom:            $color-info-darker;

/* Global textual link color. */
$link-color-custom:            $color-warning;
/* Link hover color set via `darken()` function. */
$link-hover-color-custom:      darken($link-color-custom, 15%) !default;
