/* rimuove il bordo celeste post input */
:focus {
  outline: none !important;
}

.opacity-70 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.opacity-30 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}

/* Dividers */
.divider_space {
  position: relative;
  clear: both;
  display: block;
  padding-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #EEEEEE;
}

.divider_padding, .divider_padding-full {
  position: relative;
  clear: both;
  display: block;
  padding-top: 30px;
}

.divider_padding-full {
  padding-bottom: 30px;
}

.divider_line {
  position: relative;
  clear: both;
  display: block;
  border-bottom: 4px solid #eeeeee;
  margin: 18px 0 28px;
}

.clearboth {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

span.separatore {
  margin: 0 10px;
}

.divider_tratteggio {
  position: relative;
  clear: both;
  display: block;
  border-bottom: 4px dashed #eeeeee;
  margin: 26px 0 18px;
}


.no-margin {
	margin: 0px;
}
.no-margin-top {
	margin-top: 0px;
}
.no-margin-bottom {
	margin-bottom: 0px;
}

.img-center {
	margin: 0 auto;
	position: relative;
	display: block;
}