body {
	overflow-x:hidden;
}

.text-pag2 {
	
	@media (min-width: $screen-sm) {
		text-align: right;
	}
	
}

img.img-auto {
	margin: 0 auto;
	display: block;
}

.img-pack {
	@media (max-width: $screen-sm) {
		margin-left:20px;
	}
	@media (max-width: $screen-xs) {
		margin-left:10px;
	}
}