.navbar-nav > .active {
	color: $bianco;
	background-color: $rosa;
}


#dinamic-navbar {
	display: none;
	.show {
		display: block;
		@include transition(all 0.4s ease-in-out);
	}
}

.custom-navbar-affix {	@media (min-width: $screen-sm) {
			}
	
	background-color: transparent;
	border-width: 0px;
	width: 700px;
	margin: 0px auto 0;
	
	.navbar-brand {
		height: auto;
		@media (min-width: $screen-sm) {
			padding: 0px;
		}
		@media (max-width: $screen-sm) {
			display:none;
		}
		
		img {
			width: 200px;
			height: auto;
		}
		
	}
	
	.navbar-nav {
		@media (min-width: $screen-sm) {
			margin-top:30px;
		}
	}
	}
/*.navbar-custom-responsive {	.navbar-brand,	.navbar-header {		float: left;	}	.navbar-right {		@media (max-width: $screen-sm) {			float: right;			margin-right: 0px;		}	}	.navbar-nav > li {		@media (max-width: $screen-sm) {			float: left;		}	}	@media (min-width: $screen-sm) {		.hidden-xs {			display: inline!important;		}	}}.navbar-nav.navbar-right:last-child {	margin-right: 0px;}

.navbar-nav {
	@media (max-width: $screen-sm) {
		text-align:center;
		margin: 0px;
	}
}
.navbar-default {
	@media (max-width: $screen-sm) {
		@include background-opacity($bianco, 0.3);
	}	
}

.top {
	@media (min-width: $screen-sm) {
		display:none;
	}	
}*/