.logo-home {
	z-index: 2000!important;
	display: block;
	position: relative;
	a {
		display: block;
		height: auto;
		
		img {
			@media (max-width: $screen-sm) {
				margin: 0 auto;
				display: block;
			}
		}
	}

}

.img-granturghese,
.img-promo-big {
	display: inline-block;
	z-index: 1;
}

.img-granturghese {
	margin: 0px auto;
	margin-top: -14%;
	
	@media (min-width: $screen-md) {
		margin-top: -124px;
		margin-left: -140px;
	}
	@media (min-width: $screen-lg) {
		margin-top: -130px;
	}
}

.img-promo-big {
	margin: 0px auto;
	margin-top: -10%;
	
	@media (min-width: $screen-md) {
		margin-top: -330px;
	}
	@media (min-width: $screen-lg) {
		margin-top: -370px;
	}
}

.bottone-scroll-top {
	margin-top: 0px;
	@media (min-width: $screen-sm) {
		margin-top: -40px;
	}
	@media (min-width: $screen-md) {
		margin-top: -160px;
	}
	@media (min-width: $screen-lg) {
		margin-top: -190px;
	}
}

.btn-home {
	@media (max-width: $screen-sm) {
		font-size: 16px;
	}
	@media (max-width: $screen-xs) {
		font-size: 12px;
		border-width: 1px;
	}
}

.img-responsive-custom {
	display: block;
	width: 100%;
	height: 100%;
}

.col-padding-top {
	text-align: center;
	@media (min-width: $screen-sm) {
		padding-top: 90px;
		text-align: left;
		padding-left: 0px;
	}
	@media (min-width: $screen-md) {
		padding-top: 100px;
	}
	@media (min-width: $screen-lg) {
		padding-top: 120px;
	}
}