/* Global Styles */html,body {  height: 100%;  width: 100%;}.vert-text {  display: table-cell;  vertical-align: middle;  text-align: center;}.vert-text h1 {  padding: 0;  margin: 0;  font-size: 4.5em;  font-weight: 700;}


/* Full Page Image Header Area */
/* #section-1 */
.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed;  @media (max-width: $screen-sm) {  	background: url(../img/bg.jpg) no-repeat center center fixed;    }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media (max-width: $screen-sm) {
  	padding: 20px 0 80px;  
  }
}

/* Intro */
/* #section-2 */
.intro {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	
	background: url(../img/bg2.jpg) no-repeat center center scroll;
	@media (max-width: $screen-sm) {
		background: url(../img/bg2.jpg) no-repeat center center scroll;  
	}
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/*
  background: url(flash.png) no-repeat center center;
  @media (max-width: $screen-sm) {
  	background: $color-primary;  
  }
  background-color: $color-primary;
  */
  
  color: $bianco;
  
}

/* Services */
/* #section-3 */
.services {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;

  background: #7fbbda;
  color: #ffffff;
}



.header, .intro, .services {
	@media (max-width: $screen-sm) {
		padding: 0 0 60px 0;
		display: block;
		margin: 0 auto;
		height: auto;
		width: auto;
		position: relative;
	}
}
.header, .intro, .services {
	@media (max-width: $screen-sm) {
		padding-bottom: 60px;
	}
	@media (max-width: $screen-xs) {
		padding-bottom: 45px;
	}
}
.vert-text {
	@media (max-width: $screen-sm) {
		display: block;
	}
}