<section id="section-2" class="intro">	<div class="vert-text">		
		<div class="cbp-so-section">			<div class="cbp-so-side cbp-so-side-bottom cbp-fast">
				<div class="navbar navbar-default custom-navbar-affix">
					<div class="navbar-header">
						<a class="navbar-brand" href="#section-1"><img src="<!-- @path logo-colussi.png -->" alt="" /></a>	    
					</div>
					<!--<ul class="nav navbar-nav navbar-right">
						<a href="#section-2" class="btn btn-info-border navbar-btn btn-transparent active"><span class="hidden-sm hidden-xs">VINCI SUBITO IL</span> CANTA TU DI VIOLETTA</a>
						<a href="#section-3" class="btn btn-info-border navbar-btn btn-transparent"><span class="hidden-sm hidden-xs">SCONTO</span> GAMESTOP <span class="hidden-sm hidden-xs">10%</span></a>
						<a href="#section-1" class="btn btn-info-border navbar-btn btn-info btn-transparent top"><span class="glyphicon glyphicon-arrow-up"></span></a>
					</ul>-->
				</div>
			</div>
		</div> <!--cbp-so-section-->		
		<div class="container">			<div class="row">				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="cbp-so-section">						<div class="cbp-so-side cbp-so-side-bottom cbp-normal">							<h2 class="text-center script">Come vincere il <strong>CANTA TU di Violetta</strong> <span class="text-danger">*</span></h2>						</div>
					</div>
				</div> <!--cbp-so-section-->
			</div>
			<br />
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<div class="cbp-so-section">
						<div class="cbp-so-side cbp-so-side-top cbp-slow">
							<img src="<!-- @path cantatu-2.png -->" class="img-responsive img-auto" alt="" />
						</div>
					</div> <!--cbp-so-section-->
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
					
					<div class="row">
						<div class="col-sm-8 col-xs-12">
							<div class="cbp-so-section">
								<div class="cbp-so-side cbp-so-side-top cbp-normal text-pag2">
									<div class="divider_padding hidden-xs"></div>
									<p class="lead">Acquista una confezione di <strong>GranTurchese 400gr</strong> o <strong>GranTurchese 800gr</strong> e scopri se Hai vinto uno dei 100 magnifici <strong>Cantatu di Violetta</strong></p>
								</div>
							</div> <!--cbp-so-section-->
						</div>
						<div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
							<div class="cbp-so-section">
								<div class="cbp-so-side cbp-so-side-top cbp-slow img-pack">
									<img src="<!-- @path pack.png -->" class="img-responsive" alt="" />
								</div>
							</div> <!--cbp-so-section-->
						</div>
					</div>
					
					<div class="cbp-so-section">
						<div class="cbp-so-side cbp-so-side-top cbp-slow">
							<p><span class="glyphicon glyphicon-info-sign"></span> Per avere diritto al premio conserva la confezione, l’etichetta vincente e lo scontrino ed insieme ai tuoi dati personali (non dimenticarti il numero di telefono!) spediscili tramite raccomandata A/R a <i><strong>Colussi S.P.A</strong> - Servizio consumatori - Via dell’Aeroporto 7, Petrignano d’Assisi - Perugia. CAP 06081</i></p>
							<p class="small"><span class="text-danger">*</span> Concorso valido dal 1 Settembre 2014 al 30 Maggio 2015. Montepremi complessivo di 10.000,00 €.</p>							
							<a href="<!-- @path REGOLAMENTO_ATTIVITA_PROMO_VIOLETTA-OK.pdf -->" target="_blank" class="btn btn-xs btn-info-border btn-transparent">Regolamento completo</a>
						</div>
					</div> <!--cbp-so-section-->
					
				</div>
			</div>
					</div>	</div>
	</section>