<div id="section-1" class="header">
	<div class="vert-text">
		<div class="container">
			
			<div class="logo-home">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 animated bounceInDown">
						<div class="cbp-so-section">
							<div class="cbp-so-side cbp-so-side-bottom cbp-slow">
								<a href="http://www.colussi.net/"><img src="<!-- @path logo-colussi-backto.png -->" alt="" class="img-responsive" /></a>
							</div>
						</div> <!--cbp-so-section-->
					</div>
				</div>
			</div>
			
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-top cbp-normal img-granturghese">
					<img src="<!-- @path granturchese.png -->" class="img-responsive-custom hidden-sm hidden-xs" alt="" />
					<img src="<!-- @path granturchese-sm.png -->" class="img-responsive-custom visible-sm visible-xs" alt="" />
				</div>
			</div> <!--cbp-so-section-->
			
			<div class="cbp-so-section">
				<div class="cbp-so-side cbp-so-side-bottom cbp-normal img-promo-big">
					<a href="#section-2" class="hidden-sm hidden-xs"><img src="<!-- @path violetta-big.png -->" class="img-responsive-custom" alt="" /></a>
					<a href="#section-2" class="visible-sm visible-xs"><img src="<!-- @path violetta-sm.png -->" class="img-responsive-custom" alt="" /></a>
				</div>
			

				<div class="bottone-scroll-top">
			
					<div class="cbp-so-side cbp-so-side-bottom cbp-slow">
						<div class="row">
							<div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-1 col-xs-8 col-xs-offset-2">
								<img src="<!-- @path pack-home.png -->" class="img-responsive-custom" alt="" />
							</div>
							<div class="col-md-4 col-sm-5 col-xs-12 col-padding-top">
								<a href="#section-2" class="btn btn-primary-border btn-lg btn-transparent">SCOPRI COME</a>
							</div>
							
						</div>
						
					</div>
				</div> <!--cbp-so-section-->
				
			</div>
			
		</div>
	</div>	</div>