.test {
	p {
		visibility: hidden;
	}
}

@media (min-width: $screen-xs-max) {
	.min-sm {
		background-color: black;
		.p-min-sx-max {
			visibility: visible;
		}
	}
}
@media (max-width: $screen-xs-max) {
	.min-sm {
		background-color: cyan;
		.p-max-sx-max {
			visibility: visible;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.min-sm {
		background-color: yellow;
		.p-min-sm {
			visibility: visible;
		}
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.min-sm-max-sm-max {
		background-color: red;
		.p-min-sm-max-sm-max {
			visibility: visible;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.min-md {
		background-color: blue;
		color: #ffffff;
		.p-min-md {
			visibility: visible;
		}
	}
}
/* Small devices (tablets, 768px) up to (desktops, 992px)  */
/* Portrait tablet to landscape and desktop */
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.min-md-max-md-max {
		background-color: gray;
		.p-min-md-max-md-max {
			visibility: visible;
		}
	}
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {
	.min-lg {
		background-color: pink;
		.p-min-lg {
			visibility: visible;
		}
	}
}


/* Large devices (large desktops, 1200px and down) */
@media (max-width: $screen-lg) {
	.max-lg {
		.p-max-lg {
			visibility: visible;
		}
	}
}


/* Medium devices (desktops, 992px and down) */
@media (max-width: $screen-md) {
	.max-md {
		.p-max-md {
			visibility: visible;
		}
	}
}


/* Small devices (tablets, 768px and down) */
/* Landscape phone to portrait tablet */
@media (max-width: $screen-sm) {
	.max-sm {
		.p-max-sm {
			visibility: visible;
		}
	}
}

/* Small devices (phones, 480px and down) */
@media (max-width: $screen-xs) {
	.max-xs {
		.p-max-xs {
			visibility: visible;
		}
	}
	.container {
		max-width: 320px;
	}
}