.palette {	border-radius: 0px;	border: none;	-webkit-box-shadow: none;	box-shadow: none;	margin-bottom: 3px;}.palette-default {	@include palette-variant($well-bg, $well-bg);}.palette-bianca {	@include palette-variant($bianco, $bianco);}.palette-primary {	@include palette-variant($color-primary, $color-primary);	color: $bianco;}.palette-primary-medium {	@include palette-variant($color-primary-medium, $color-primary-medium);
	color: $bianco;}.palette-primary-light {	@include palette-variant($color-primary-light, $color-primary-light);}.palette-primary-lighter {	@include palette-variant($color-primary-lighter, $color-primary-lighter);}
.palette-primary-dark {
	@include palette-variant($color-primary-dark, $color-primary-dark);
	color: $bianco;
}
.palette-primary-darker {
	@include palette-variant($color-primary-darker, $color-primary-darker);
	color: $bianco;
}.palette-warning {	@include palette-variant($color-warning, $color-warning);
	color: $bianco;}
.palette-warning-medium {
	@include palette-variant($color-warning-medium, $color-warning-medium);
}.palette-warning-light {	@include palette-variant($color-warning-light, $color-warning-light);}
.palette-warning-lighter {
	@include palette-variant($color-warning-lighter, $color-warning-lighter);
}
.palette-warning-dark {
	@include palette-variant($color-warning-dark, $color-warning-dark);
	color: $bianco;
}.palette-warning-darker {	@include palette-variant($color-warning-darker, $color-warning-darker);
	color: $bianco;}.palette-danger {	@include palette-variant($color-danger, $color-danger);
	color: $bianco;}.palette-danger-medium {	@include palette-variant($color-danger-medium, $color-danger-medium);
	color: $bianco;}.palette-danger-light {	@include palette-variant($color-danger-light, $color-danger-light);}
.palette-danger-lighter {
	@include palette-variant($color-danger-lighter, $color-danger-lighter);
}
.palette-danger-dark {
	@include palette-variant($color-danger-dark, $color-danger-dark);
	color: $bianco;
}.palette-danger-darker {	@include palette-variant($color-danger-darker, $color-danger-darker);	color: $bianco;}.palette-success {	@include palette-variant($color-success, $color-success);
	color: $bianco;}
.palette-success-medium {
	@include palette-variant($color-success-medium, $color-success-medium);
	color: $bianco;
}.palette-success-light {	@include palette-variant($color-success-light, $color-success-light);}.palette-success-lighter {	@include palette-variant($color-success-lighter, $color-success-lighter);}
.palette-success-dark {
	@include palette-variant($color-success-dark, $color-success-dark);
	color: $bianco;
}.palette-success-darker {	@include palette-variant($color-success-darker, $color-success-darker);
	color: $bianco;}.palette-info {	@include palette-variant($color-info, $color-info);
	color: $bianco;}.palette-info-medium {	@include palette-variant($color-info-medium, $color-info-medium);
	color: $bianco;	}.palette-info-light {	@include palette-variant($color-info-light, $color-info-light);}
.palette-info-lighter {
	@include palette-variant($color-info-lighter, $color-info-lighter);
}
.palette-info-dark {
	@include palette-variant($color-info-dark, $color-info-dark);
	color: $bianco;	
}.palette-info-darker {	@include palette-variant($color-info-darker, $color-info-darker);
	color: $bianco;	}
