<!-- Footer --><footer id="footer" class="text-center">  <div class="container">    <div class="row">   	
    		<div class="col-md-6 col-md-offset-3">
         <div class="top-scroll">          <a href="#section-1" class="btn btn-link"><span class="fa fa-arrow-up fa-1x"></span> torna su</a>        </div>        <p>Copyright &copy; <strong>Colussi</strong> Gran Turchese 2014</p>
        <p><a href="http://www.colussi.net" class="btn btn-primary-border" target="_blank" rel="nofollow">Colussi.net</a></p>      </div>    </div>  </div></footer><!-- /Footer -->